#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.country{
    border: 2px solid goldenrod;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
}
.country-name{
    font-size: 45px;
    color: magenta;
}
#country-detail{
    display: flex;
    margin: 10px;
}
#flag {
    padding: 10px;
}
#information{
    padding: 10px;
}
#country-detail img{
    width: 200px;
}